*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}

:root
{
   --h1-font: 4.5rem;
   --h2-font: 2.9rem;
   --p-font: 1.1rem;
   --bg-color: white;
   --text-color: black;
   --text2-color: gold;
   --text3-color: silver;
   --main-color: #1aa090;
    --other-color: #d6d6d6;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    width: 100%;
    position: fixed;
   top: 0;
   right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 15%;
    transition: all .50s ease;

}

.logo img
{
    height: auto;
    width: 100%;


}

.navbar
{
    display: flex;

}

.navbar a
{
    padding: 10px 25px;
    font-size:  var(--p-font);
    color: var(--main-color);
    transition: all .40s ease;

}

.navbar a:hover
{
    color: var(--text-color);
}

.h-btn
{
    display: flex;
    align-items: center;
}

.h-btn1
{
    display: inline-block;
    padding: 10px 18px;
    background: var(--text-color);
    color: var(--other-color);
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
    transition: all .40s ease;

}

.section{
    padding: 80px 15% 70px; 
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;

}

.home-text h1
{
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
}

.home-text p{
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 30px;   
    margin-bottom: 2.5rem;
    text-align: center;
}

  
  .home-text h2 {
    margin-bottom: 20px;
  }
  
  .home-text figure {
    display: block;
    margin: 0 auto;
    max-width: 560px; /* Set the maximum width of the video to keep it centered */
  }
  

.h-search form 
{
    position: relative;
    width: 410px;
    max-width: 100%;
}

.h-search form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 17px 130px 16px 15px;
    border: 2px solid var(--text-color);
    border-radius: .70rem;

}

.h-search form input:last-child{
    position: absolute;
    display: inline-block;
    padding: 12px 30px;
    background: var(--other-color);
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    border-radius: .70rem;
    box-shadow: 0px 0px 5px #fff, 0px 0px 15px #868686;
    top: 6px;
    right: 6px; 
}

.home-img
{
    width: 640px;
    height: 640px;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.home-img p
{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 20px;   
    margin-bottom: -2rem;
}

header.sticky
{
    padding: 8px 15%;
    background: #101821;
}
.feature{
    padding: 60px 15% 50px;
}
.center-left h2 
{
    font-size: var(--h2-font);
}
.property{
    padding: 60px 15% 50px;
}

.property-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
}

.row{
    position: relative;
    cursor: pointer;

}

.row img{
    width: 100%;
    height: auto;
   margin-bottom: 20px;

}

.row h5{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.row p
{
    font-size: var(--p-font);
}

h2 
{
    text-align: center;
}

.list
{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.list a
{
    color: var();
    font-size: var(--p-font);

}

.Residence-list i 
{
    font-size: 18px;
    color: var(--main-color);
}

.center-btn
{
    text-align: center;
    margin-top: 4rem;
}

.btn{
display: inline-block;
padding: 18px 28px;
background: var(--text-color);
color: var(--other-color);
font-size: 17px;
font-weight: 500;
transition: all .50s ease;
}

.btn:hover{
    transform: translateY(-7px) scale(0.9);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
}

.about-img img {
    height: auto;
    width: 100%;
}

.about-text {
    display: flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 25px;
}


@media (max-width: 1790px)
{
    header
    {
        padding: 18px 6%;
    }
    section
    {
       padding: 70px 6% 60px; 
    }
    header.sticky
    {
        padding: 7px 6%;
    }
    .feature
    {
        padding: 40px 6% 30px;
    }
}

@media (max-width: 1425px)
{
   :root
   {
    --h1-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1rem;
   }
   .home-img
   {
        width: 540px;
        height: 540px;
   }
   .home-img img 
   {
        width: 100%;
        height: 100%;
        object-fit: contain;
   }
   header
   {
    padding: 15px 5%;
   }
   section
   {
      padding: 70px 5% 60px; 
   }
   header.sticky
   {
       padding: 7px 5%;
   }
   .feature
   {
       padding: 40px 5% 30px;
   }
}


@media (max-width: 1170px)
{
    #menu-icon
    {
        display: block;
    }
    .navbar
    {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #101821;
        padding: 20px 15px;
        gap: 0.5rem;
        text-align: left;
        transition: all .50s ease;
    }
    .navbar a
    {
        display: block;
        font-size: 20px;
        padding: 15px;
    }

    .navbar.open
    {
        right: 0;
    }
    :root
    {
     --h1-font: 4rem;
     --h2-font: 2rem;
     --p-font: 1rem;
    }
    .home
    {
        grid-template-columns: 1fr;
        gap: 1rem;
        height: 120vh;
    }

    .home-text
    {
        order: 2;
        width: 100%;
        max-width: 900px;

    }
    .home-img
    {
        width: 480px;
        height: 480px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .about
    {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 570px)
{
    :root
   {
        --h1-font: 3.4rem;
        --h2-font: 2rem;
        --p-font: 15px;
   }

   .home
   {
        gap: 15px;
        height: 110vh;
   }
   .home-img
   {
        width: 400px;
        height: 400px;
        padding-top: 10px;
   }
}

h2 {
    text-align: center;
}

p
{
    text-align: center;
}